<template>
  <section class="main-content">
    <div class="container">
      <h1 class="titles has-text-centered">
        Recent Posts.
      </h1>
      <div class="columns is-multiline">
        <div class="column is-half" v-for="post in postListData" :key="post.base">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                {{ post.title }}
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                {{ post.preview }}
                <br>
                <small>
                  by <strong>{{ post.author}}</strong>
                  \\ {{ getDate(post.created_at) }}
                </small>
              </div>
            </div>
            <footer class="card-footer">
              <nuxt-link :to="`post/${getUrl(post.sourceBase)}`"
                         class="card-footer-item">
                Read More
              </nuxt-link>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import {fileMap} from '~/json/summary';

  const postListData = [];

  for (let [key, value] of Object.entries(fileMap)) {
    postListData.push(value);
  }

  export default {

    name: 'posts',

    data() {

      return {
        postListData,
      }

    },
    computed: {
    },
    methods: {
      getUrl: (url) => {
        return url.replace(/(\d{4}-\d{2}-\d{2})-/, '$1/').replace(/.md/, '');
      },
      getDate(date) {
        return date.replace(/(\d{4}-\d{2}-\d{2})T.*/, '$1');
      }
    }
  }
</script>

<style lang="scss">
  .card{
    box-shadow:5px 15px 30px rgba(0,0,0,0.1);
    border-radius: 0 0 20px 20px;
  }
  .card-header{
    background-color: #d7dce8;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
  }
  .card-header-title{
    color: white;
  }
  .card-footer{
    //
    &:hover {
      background: linear-gradient(#e8e6eb, #a1a7b2);
      color: white;
      border-radius: 0 0 20px 20px;
    }
  }
  .card-footer-item{
    //
    &:hover{
      color:white;
      transition: 0.4s;
    }
  }
  .titles {
      height: 160px;
      font-size: 35px;
      margin-bottom: 0.4rem;
      color: #d3d3d3;
      font-family: 'Courier';
      text-transform: uppercase;
    text-shadow: 2px 1px rgba(100,100,100,0.7);
    //
    &:after {
      content: "";
      display: block;
      height: 4px;
      background: linear-gradient(to right,rgba(40,200,150,0) 30%, rgba(40,200,120,0.8) 50%, rgba(40,200,200,0.8) 50%,rgba(40,200,150,0) 70%);
    }

    //
    &:first-letter{
      font-size: 80px;
      color: #00d1b2;
      text-shadow: 0 2px 1px rgba(100,100,100,0.7);
    }
  }

</style>




