<template>
  <div class="main-content">
    <div class="container">
      <div class="box"><h2 class="title is-2 post-title">{{ post.title }}</h2>
      <div class="content blog"><div v-html="post.content"></div></div>
      <br>
      <h4 class="title is-5 is-marginless">
        by. <strong>{{ post.author }}</strong> //at. <strong>{{ post.published }}</strong></h4>
      </div>
    </div>
  </div>
</template>

<script>
  // import posts saved JSON data
  import posts from '~/assets/json/posts'

  export default {
    // バリデーションメソッド true を返さないときは 404 エラーページをロード
    validate({params}) {

      // 数値かどうかを調べる
      return /^\d+$/.test(params.id)

    },
    // ページコンポーネントがロードされる前に毎回呼び出される
    // レンダリングや、ページを遷移する前にも呼び出される
    // 第1引数として コンテキスト を受け取る
    //
    // コンポーネントの data とマージする
    // Promise
    // async/await
    // 第2引数のコールバックを利用する
    //
    // https://ja.nuxtjs.org/guide/async-data/
    asyncData({params}, callback) {

      let post = posts.find(post => post.id === parseInt(params.id))
      if (post) {

        // コンポーネントのデータと マージする
        // callback(err, data)
        callback(null, {post})

      } else {

        // callback({ statusCode: 404, message: 'Post not found' })

      }

    },
    head() {

      return {

        title: this.post.title,
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: this.post.summary
          }
        ]

      }

    }
  }
</script>

<style lang="scss">
  .box{
    padding: 2em 1em;
    margin: 2em 0;
    background: #f3fdff;
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  }
  .content{
    &.blog {
      color: #00bcd4;
      font-size: 17px;
      letter-spacing: 1px;
      padding-top: 1.4rem;
    }
  }
  .title{
    //
    &.post-title{
      padding-left: 0.4rem;
      border-bottom: 2px solid #20a0b8;
      &:after{

      }
    }
    //
    &.is-marginless{
      display: flex;
      justify-content:flex-end;
      letter-spacing: 0.1rem;
      padding-top: 1rem ;
    }
  }

</style>














