<template>
  <div class="wrap" id="wrap">


    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <nuxt-link to="/" class="nav-item">
            Blog☝
          </nuxt-link>
          <nuxt-link active-class="is-active" to="/" class="nav-item is-tab" exact>Home☝</nuxt-link>
          <nuxt-link active-class="is-active" to="/about" class="nav-item is-tab" exact>About☝</nuxt-link>
        </div>
      </div>
    </nav>
    <nuxt />

  </div>
</template>

<script>
  export default {
  }
</script>

<style lang="scss">
  .has-shadow{
    background: linear-gradient(snow, #dbe1ec);
  }
  .nav-item {
    &:hover{
      position: relative;
      top:5px;
      background-image: linear-gradient(to right, #1d42db 0%, #2bdd41 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

</style>




