<template>
  <div class="main-content">
    <div class="container">
      <div class="box"><h2 class="title is-2 post-title">{{ title }}</h2>
      <div class="content blog"><div v-html="bodyHtml"></div></div>
      <br>
      <h4 class="title is-5 is-marginless">
        by. <strong>{{ author }}</strong> //at. <strong>{{ getDate(created_at) }}</strong></h4>
      </div>
    </div>
  </div>
</template>

<script>
  // import posts saved JSON data
  import { sourceFileArray } from '~/json/summary';
  import hljs from 'highlight.js'

  export default {
    validate({ params }) {
      return sourceFileArray.includes(`md/${params.date}-${params.slug}.md`);
    },
    asyncData({ params }) {
      return Object.assign({}, require(`~/json/${params.date}-${params.slug}.json`), { params });
    },
    mounted() {
      this.$nextTick(() => {
        /**
         * syntax highlight
         */
        hljs.highlightBlock(document.querySelector('.hljs'));
      });
    },
    methods: {
      getDate(date) {
        return date.replace(/(\d{4}-\d{2}-\d{2})T.*/, '$1');
      }
    },
    head() {

      return {

        title: this.title,
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: this.preview
          }
        ]

      }

    }
  }
</script>

<style lang="scss">

  /**
   * syntax highlight
   */
  @import "~assets/sass/component/_googlecode.scss";

  .box{
    padding: 2em 1em;
    margin: 2em 0;
    background: #f3fdff;
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  }
  .content{
    &.blog {
      color: #00bcd4;
      font-size: 17px;
      letter-spacing: 1px;
      padding-top: 1.4rem;
    }
  }
  .title{
    //
    &.post-title{
      padding-left: 0.4rem;
      border-bottom: 2px solid #20a0b8;
      &:after{

      }
    }
    //
    &.is-marginless{
      display: flex;
      justify-content:flex-end;
      letter-spacing: 0.1rem;
      padding-top: 1rem ;
    }
  }

</style>














