<template>

  <div class="main-content gradient">
    <div class="container">
      <div class="bluelight">
      <h2 class="title is-2 gradient">
        About this website.
      </h2>
        </div>

      <div class="lead">
        <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi,<br> sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti.
          <br>Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
      </div>



      <h4 class="title is-4">What we hope to achieve:</h4>
      <div class="lead list">
        <ul>
          <li>＊️In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
          <li>＊️Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
          <li>＊️️Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
          <li>＊️Ut non enim metus.</li>
        </ul>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    head: {
      title: 'About'
    }
  }
</script>

<style lang="scss" scoped>
  .main-content{
      animation: fadeIn 2s ease 0s 1 normal;
    }

    @keyframes fadeIn {
      0% {opacity: 0}
      100% {opacity: 1}
    }

    @-webkit-keyframes fadeIn {
      0% {opacity: 0}
      100% {opacity: 1}
    }
  .container{
    background-color: #fff;
    box-shadow: inset 0px 1px 20px rgba(50,50,50,0.3);
  }
  .title{
    &.is-2 {
      font-family: 'Open Sans', Futura, Arial;
      text-transform: uppercase;
      letter-spacing: 2rem;
      font-size: 50px;
      line-height: 100px;
      text-align: center;
      padding: 70px 20px;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      text-shadow: 1px 1rem 4px rgba(100,200,100,0.1);
    }
    &.is-4 {
      font-family: 'Open Sans', Futura, Arial;
      padding-top: 3rem;
      text-align: center;
      color: #ffabd7;
      &:after {
        content: "";
        display: block;
        height: 2px;
        background: linear-gradient(to right, rgba(40,200,150,0),rgba(255,130,150,0.1) 30%, rgba(255,130,150,0.6) 50%, rgba(255,130,150,0.6) 50%,rgba(255,130,150,0.1) 70%, rgba(40,200,150,0) 100%);
      }
    }
  }
  .gradient {
    background-image: linear-gradient( #90ecff 10%, #a2fea7 90%);
    background-size: 100% 100%;
  }
  .lead {
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.6rem;
    //
    p {
      text-align: justify;
      color: #7a7a7a;
    }
    &.list{
      color: #7a7a7a;
      padding-bottom: 5rem;
    }
  }

</style>








