<template>
  <div>
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title name">
            Welcome to Himeno's Blog.
          </h1>
          <h2 class="subtitle">
            Hope you find something you like.
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <hime-posts/>
    </section>
  </div>
</template>

<script>

  export default {
    head: {
      title: 'Home'
    },
    components: {
      'hime-posts': () => import('~/components/Posts')
    },
    //
    data() {

      return {
        db: null,
        inputText: '',
        messages: []
      }

    },
    //
    methods: {
    },
    //
    computed: {
    },
    //
    watch: {
    },
    //
    mounted() {

    },
    transition: {
    }
  }
</script>

<style lang="scss">
  .hero{
    animation: fadeIn 2s ease 0s 1 normal;
  }

  @keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  .title{
    &.name{
      text-shadow: 2px 0px 10px rgba(0,0,0,0.3);
      font-size: 65px;
    }
  }
  .subtitle{
    text-shadow:0 0 10px rgba(250,250,250,0.8);
  }
  .hero-body{
    box-shadow: 0 1px 1rem rgba(0,0,0,0.4);
    animation: background 30s ease infinite;
    background: linear-gradient(180deg, #00b4ff, #00ecaa);
    background-size: 400% 400%;
    height: 100%;
    width: 100%;
  }
  @keyframes background {
    0% { background-position: 50% 0%; }

    50% { background-position: 50% 100%; }

    100% { background-position: 50% 0%; }
  }
  .section{
    background-color: rgba(200,200,200,0.1);
  }

</style>
