// =========================================================
//
// site color
//
// =========================================================
//
$color-primary: #74DCD9 !default;
$color-primary-dark: #36A5A2 !default;
$color-primary-light: #BFFCF9 !default;

$color-secondary: #f17a36 !default;

$color-success: #57A4E0 !default;
$color-info: #6d5d95 !default;
$color-warning: #fab147 !default;
$color-danger: #d54263 !default;
//
$primary-gradient: linear-gradient(to right bottom, #74dcd9, #5bd0de, #4ac2e2, #49b4e3, #57a4e0) !default;

$primary-bg-color: #f9f9f9 !default;
$secondary-bg-color: #7f7f7f !default;

$color-white: #E8F3F1 !default;
$color-black: #545479 !default;
$color-gray-dark: #2d2f33 !default;
$color-gray: #5a5e66 !default;
$color-gray-light: #878d99 !default;
$color-gray-lighter: #b4bccc !default;
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
