// - - - - - - - - - - - - - - - - - - - -
//
// section
//
// - - - - - - - - - - - - - - - - - - - -
// $section-max-width: 1200px;
$section-width-mobile: 85vw;
$section-mobile-padding: 1.5rem;
$section-desktop-padding: 2rem;
$section-gutter-mobile: 7.5vw;
$section-gutter-desktop: 7.25rem;

@mixin section-default {
}
